@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* animação simples do modal */
@keyframes aparecer {
  from { opacity: 0; transform: scale(.95); }
  to   { opacity: 1; transform: scale(1); }
}
.modal-anim { animation: aparecer .2s ease-out; }
